.profile_details {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 6rem;
  right: 2rem;
  height: 20rem;
  background: var(--gradient-secondary);
  border: 1px solid white;
  border-radius: 1.2rem;
  word-wrap: break-word;
  opacity: 0;
  overflow-wrap: break-word;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  z-index: 9999;
  overflow-y: auto;
}
.profile_details ul {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  padding: 1.2rem 1.2rem;
}
.profile_details li {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 0.8rem;
  padding-bottom: 0.8rem;
}
.profile_details a {
  text-decoration: none;
  border: none;
  color: var(--text-primary);
  transition: all 0.1s ease;
}
.profile_details a:hover {
  border-bottom: 2px solid var(--primary-color);
}
.modal_profile_details {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 100;
  display: none;
}
.profile_credentials {
  display: flex;
  margin: 0 0.8rem;
  padding: 1rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}
.profile_left {
  display: flex;
  gap: 0.8rem;
  align-items: center;
  color: var(--text-primary);
}
.hidden {
  display: none;
}
.display {
  display: flex;
  opacity: 1;
}
