.side_bar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  flex-direction: column;
  background: var(--gradient-secondary);
  border-right: 1px solid var(--text);
  padding: 2rem;
  width: 19rem;
  padding-top: 8rem;
  z-index: 1000000;
  display: none;
}
.side_bar::-webkit-scrollbar {
  display: none;
}
.hide_side_bar {
  display: none;
}
.show_side_bar {
  display: flex;
}
.side_bar ul {
  display: flex;
  flex: 1;
  list-style: none;
  flex-direction: column;
  gap: 2.5rem;
  padding-bottom: 6rem;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.side_bar li {
  display: flex;
  gap: 0.8rem;
  color: var(--text-primary);
  align-items: center;
  transition: all 0.4s ease;
  cursor: pointer;
}
.side_bar a {
  color: var(--text-primary);
}
.bottom_side {
  position: absolute;
  bottom: 0rem;
  left: 0;
  right: 0;
  width: 100%;
  background: var(--gradient-secondary);
  border-top: 1px solid var(--text);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
  height: 6rem;
  padding: 0.8rem 2rem;
}
.active {
  background-color: var(--primary-color);
  padding: 0.8rem;
  border-radius: 0.8rem;
}
.active {
  background: var(--gradient-primary);
  padding: 1.2rem;
  border-radius: 4rem;
}
